	 <div class="midCont left">
<%= render :partial =>'shared/search_box' %>
	  
      <div id="shareOpp">
       <div><h2>Update Opportunity</h2></div>
       <div class="formWrapper">
        <table cellpadding="0" cellspacing="0">
         <% form_for(@opportunity) do |f| %>
         <%= f.error_messages %>
         <tr><td class="iLabel">Category</td></tr>
         <tr><td><%= f.text_field :category_name, :class => "iTextField" %></td></tr>
         <tr><td class="hint"><p>Ex. Marketing, Information Technology</p></td></tr>
         
         <tr><td class="iLabel">Location</td></tr>
         <tr><td><%= f.text_field :location, :class => "iTextField" %></td></tr>
         <tr><td class="hint"><p>Ex. Los Angeles, CA</p></td></tr>
         
         <tr><td class="iLabel">Job Title</td></tr>
         <tr><td><%= f.text_field :job_title, :class => "iTextField" %></td></tr>
         <tr><td class="hint"><p>Ex. Director, Vice President</p></td></tr>
         
         <tr><td class="iLabel">Compensation</td></tr>
         <tr><td><%= f.text_field :compensation, :class => "iTextField" %></td></tr>
         <tr><td class="hint"><p>Ex. Salary Wages, Hourl Wages</p></td></tr>
         
         <tr><td class="iLabel">Details</td></tr>
         <tr><td><%= f.text_area :details, :class => "iTextField" %></td></tr>
         <tr><td class="hint"><p></p></td></tr>
         
         <tr><td align="center" class="buttonNi"><input type="image" src="images/postOpp.jpg" /></td></tr>
         <% end %>
        </table>
       </div>
      </div> 
	  
	 </div>
<%= render :partial => 'shared/sidebar' %>
