<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>etroduction : Home</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults, 'jquery-1.4.2.min.js', 'cufon-yui.js', 'Myriad_Pro_300.font.js' %>

  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>

  <script type="text/javascript">Cufon.replace('h1,h3');</script>

<script type="text/javascript">$(document).ready(function() {
	$(".tab_content").hide(); 
	$("ul.tabs li:first").addClass("active").show(); 
	$(".tab_content:first").show(); 
	
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); 
		$(this).addClass("active"); 
		$(".tab_content").hide(); 
		var activeTab = $(this).find("a").attr("href"); 
		$(activeTab).fadeIn(); 
		return false;
	});});
</script> 
<!--[if lte IE 6]>
<style type="text/css">
body {behavior: url("css/csshover3.htc");}
div, a, li, input { behavior: url(css/iepngfix.htc) }
</style> 
<script type="text/javascript" src="js/png.js"></script>
<![endif]-->
</head>
<body>

  <div id="page">

    <%= render :partial =>'layouts/header' %>

    <p style="color: green"><%= flash[:notice] %></p>
    
    <div class="iContWrap">
      <%= render :partial => "shared/top_nav" %>
	 
      <%= render :partial => "shared/left_nav" %>

      <%= yield %>
 
	    <div class="clr"></div> 
	  </div>
    <!-- end innerCont -->

    <%= render :partial => 'layouts/footer' %>

  </div>

</body>
</html>
